<div class="card"> <!--Creamos el lugar donde hacer nuestro diseño-->
  <div class="element1">
    <div class="color1"></div><!--Creamos los colores para los elementos-->
  </div> <!--Creamos el lugar de los elementos-->
  <div class="element2">
    <div class="color2"></div>
  </div>
  <div class="element3">
    <div class="color3"></div>
  </div>
  <div class="element4">
    <div class="color4"></div>
  </div>
  <div class="element5">
    <div class="color5"></div>
  </div>
  <div class="element6">
    <div class="color6"></div>
  </div>
</div>