<div class="card">
    <div>
<div class="profile"></div>        
<div class="name">Manuel Calle</div>
<div class="mastersDegree">Ingeniero automotriz</div>
<div class="description">
<div class="information"> Diseño partes de vehiculos como sus sistemas mecánicos y electricos,</div>
<div class="information">demas de hacer pruebas de rendimiento y seguridad de los mismos.</div>
</div>
<div class="habilities">Habilidades: Innovador, competente, responsable, organizado.</div>
<div class="email">Email: manucalle@gmail.com</div>
<div class="phoneNumber">Numero de telefono: 0973663741</div>
    </div>
</div>